body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
p {
  opacity: 0.7;
}
:root {
  --clr-100: hsl(171, 66%, 44%);
  --clr-200: hsl(233, 100%, 69%);
  --clr-300: hsl(210, 10%, 33%);
  --clr-400: hsl(201, 11%, 66%);
  --clr-500: hsl(228, 45%, 44%);
}
@media (max-width: 390px) {
  .first-logo {
    text-align: center;
  }

  header {
    text-align: center;
    line-height: 30px;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
  }
  .first-section {
    text-align: center;
    line-height: 40px;
  }
  .second-section {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
  }
  .third-section {
    text-align: center;
    padding-left: 10%;
    width: 80%;
  }
  .forth-section {
    display: flex;
    flex-direction: column;
  }
  .fifth-section {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
  }

  .sixth-section {
    text-align: center;
    padding-left: 20px;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .logo-two img {
    width: 20%;
  }
}

/* Header */

header {
  margin-top: -47px;
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
}
.first-logo img {
  width: 8%;
}
.first-logo {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.first-section {
  text-align: center;
  width: 100%;
}
.button-one {
  background-color: var(--clr-100);
  color: #fff;
  padding: 1% 4% 1% 4%;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 15px var(--clr-400);
}
.button-two {
  background-color: var(--clr-200);
  color: #fff;
  padding: 1% 4% 1% 4%;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 15px var(--clr-400);
  margin-left: 6px;
}
.second-content {
  padding-top: 90px;
}

/* Second-Section */

.second-section {
  display: flex;
  margin-top: 70px;
}
.image-one img {
  width: 85%;
}

/* Third-section */

.third-section {
  text-align: center;
  padding-top: 50px;
}
.third-section img {
  width: 50%;
}

/* forth-section */

.forth-section {
  display: flex;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  gap: 50px;
  line-height: 30px;
}
/* Fifth-section */
.fifth-section {
  display: flex;

  text-align: center;
  padding-top: 100px;
  gap: 50px;
  padding-left: 150px;
}
.fifth-section img {
  width: 80%;
  text-align: center;
}
/* Sixth-Section */
.sixth-section {
  text-align: center;
  padding-top: 100px;
  line-height: 50px;
}
.button-third {
  background-color: var(--clr-100);
  color: #fff;
  padding: 1% 4% 1% 4%;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 15px var(--clr-400);
}
.button-forth {
  background-color: var(--clr-200);
  color: #fff;
  padding: 1% 4% 1% 4%;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 15px var(--clr-400);
  margin-left: 6px;
}
/* Footer */
.last {
  background-color: azure;
  margin-top: 10%;
}
.footer-section {
  display: flex;

  gap: 10%;
  width: 90%;
}
.footer-navigation ul,
li,
a {
  text-decoration: none;
  list-style: none;
  opacity: 0.7;
  color: black;
}
.logo-two img {

  padding-top: 40px;
  padding-left: 80px;
}
.social-icons {
  padding-top: 80px;
  gap: 20px;
}
.navigation {
  padding-top: 70px;
  /* columns: 3; */
  line-height: 30px;
}
